<% const d = new Date(); let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; 2025<% year %>, CSE 340 App</p>
  <p class="copyright"><a href="/inv/foobar">Error Test</a></p>
</footer>
